.headingContainer{
    display: flex;
    justify-content: center;
}

.toolBar{
    display: flex;
}

.tournamentsContainer, .chips{
    display: flex;
    flex-flow: wrap;
    padding-top: 25px;
    justify-content: space-around;
}