<mat-toolbar class="footer" color="grey">
    <span>
        <a mat-button routerLink="/">Thank you visiting</a>
    </span>
    <span class="spacer"></span>

    <div class="menuContainer">
        <span>
            <a mat-button routerLink="/tournament">Follow Us on FB</a>
        </span>
        <span class="marginLeft-10">
            <a mat-button routerLink="/events">Checkout our Insta</a>
        </span>
        <span class="marginLeft-10">
            <a mat-button routerLink="/horses">Tweet us your thoughts</a>
        </span>
    </div>
</mat-toolbar>




