.footer{
    display: flex;
    justify-content: space-around;
}


// .marginLeft-10{
//     margin-left: 10px;
// }

// .icon {
//     padding: 0 14px;
//   }
  
.spacer {
    flex: 1 1 auto;
}

// a{
//     color: white;
// }

// .userName{
//     display: flex;
// }