<mat-card class="card">
    <mat-card-title matBadge="{{events?.length}}" matBadgeOverlap="false" color="accent">({{tournament.tournamentID}}) {{tournament.tournamentName}}</mat-card-title>
    <mat-card-subtitle color="primary">subtitle</mat-card-subtitle>
    <mat-card-content color="primary" *ngFor="let e of events">{{e.eventName}}</mat-card-content>
    <mat-card-actions color="primary">
        <button mat-button color="primary">View</button>
        <button mat-button color="accent" (click)="onEdit($event)" [@YingYang]="getYingYangState">Edit</button>
        <button  mat-button color="accent" (click)="onDelete($event)" [@YingYang]="getYingYangState" [disabled]="isMarkedForDeletion || !canDelete">Delete</button>
    </mat-card-actions>
    <mat-card-footer>footers... so long friend....</mat-card-footer><!-- -->
</mat-card>


