<mat-card color="accent" class="card">
    <mat-card-title  color="accent" matTooltip="Number of entires: {{horseCount$ | async}}" matTooltipPosition="above" matBadge="{{horseCount$ | async}}" matBadgeOverlap="false">({{event.eventID}}) {{event.eventName}} #{{event.eventNumber}}</mat-card-title>
    <mat-card-subtitle>{{tournament.tournamentName}}</mat-card-subtitle>
    <mat-card-content><b>Starts : </b> {{event.eventDateTime}}</mat-card-content>
    <mat-card-content><b>Ends : </b>{{event.eventEndDateTime}}</mat-card-content>
    <mat-card-content> <a href="#">See all {{horseCount$ | async}} Horses</a></mat-card-content>

    <mat-card-actions>
        <button mat-button>View</button> <button color="accent" [@YingYang]="getYingYangState" mat-button (click)="onEdit($event)">Edit</button> <button color="accent" [@YingYang]="getYingYangState"  mat-button [disabled]="isMarkedForDeletion || !canDelete" (click)="onDelete($event)">Delete</button>
    </mat-card-actions>
    <mat-card-footer>
        <b>Auto Close : </b><mat-checkbox checked="event.autoClose" disabled> </mat-checkbox>
    </mat-card-footer><!-- -->
</mat-card>

