
<app-header></app-header>
<!-- <form>
    <mat-form-field>
    <mat-label>Tournament Name</mat-label>
    <input matInput placeholder="Durban July"required>
    <mat-hint>Enter name here</mat-hint>
  
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

</form> -->

   <div class="outlet">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<ngx-spinner type="ball-atom"></ngx-spinner>  
 