/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat-core();

$primary:mat-palette($mat-green);
//$primary:mat-palette($mat-lime,);
$accent:mat-palette($mat-blue); 
$theme: mat-light-theme($primary,$accent);

@include angular-material-theme($theme);