<div class="toolBar">
    <span class="margin_x_10"></span>
    <mat-checkbox (change)="onEnableToolBarEditingOptionsChanged($event.checked)" [disabled]="!canWrite"></mat-checkbox>
    <span class="margin_x_10">Enabler Editing : </span>

    <div class="addEdit" [@inOutAnimation] *ngIf="isEditingEnabled && (action != 'Delete') else loading">
      <div class="toolBarButtons margin_x_5">
        <mat-button-toggle-group (change)="onActionChange($event)">
            <mat-button-toggle value="Add">Add</mat-button-toggle>
            <mat-button-toggle disabled value="Edit">Edit</mat-button-toggle>
            <mat-button-toggle value="Delete">Delete</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <span class="margin_x_5"></span>
     <div>
        <mat-form-field>
            <mat-label>Tournament Name</mat-label>
            <input #name matInput placeholder="Durban July" [formControl]="_tournamentName" required>
            <mat-hint>Enter name here</mat-hint>
            <mat-error *ngIf="_tournamentName.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
     </div>
     <button mat-button [disabled]="_tournamentName.invalid || !canWrite" (click)="RunUpdate()">{{selectedBUttonText}}</button>

    </div>
    
    <ng-template #loading class="chips">
      <mat-chip-list>
          <mat-chip [@inOutAnimation] selectable removable (removed)="removeDeleteChip(chip)" *ngFor="let chip of tournamentDeleteList" selected color="warn">
            {{chip.tournamentName}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
      </mat-chip-list>
                 
      <button mat-button color="warn" [disabled]="tournamentDeleteList && tournamentDeleteList.length == 0 || !canWrite" (click)="deleteTournament()">{{selectedBUttonText}}</button>
   
    </ng-template>
        
</div>
