<div class="toolBar">
  <span class="margin_x_10"></span>
    <mat-checkbox (change)="onEnableToolBarEditingOptionsChanged($event.checked)" [checked]="isEditingEnabled" ></mat-checkbox>
    <span class="margin_x_10">Enabler Editing</span>
    <div class="toolBarButtons" *ngIf="isEditingEnabled">
        <mat-button-toggle-group (change)="onActionChange($event)" [@inOutAnimation]>
            <mat-button-toggle value="Add">Add</mat-button-toggle>
            <mat-button-toggle disabled value="Edit">Edit</mat-button-toggle>
            <mat-button-toggle value="Delete">Delete</mat-button-toggle>
          </mat-button-toggle-group>
    </div>
    <span class="margin_x_10"></span>

     <div *ngIf="isEditingEnabled && (action != 'Delete')">
        <mat-form-field  class="margin_x_5" [@inOutAnimation]>
            <mat-label>Event Detail Name</mat-label>
            <input #name matInput placeholder="Lucky Number Sleven" [formControl]="_eventDetailName" required>
            <mat-hint>Enter name here</mat-hint>
            <mat-error *ngIf="_eventDetailName.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field  class="margin_x_5" appearance="fill" *ngIf="_eventDetailName.valid" [@inOutAnimation]>
          <mat-label>Event Detail Number</mat-label>
          <input type="number" matInput placeholder="777" [formControl]="_eventDetailNumber" required>
          <mat-error *ngIf="_eventDetailNumber.invalid">{{getEventNumberValidationMessage}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="margin_x_5" appearance="fill"  *ngIf="_eventDetailNumber.valid" [@inOutAnimation]>
          <mat-label>Event to register under</mat-label>
          <mat-select [formControl]="_event" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let e of currentEventList" [value]="e.eventID">
              {{e.eventName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="_event.hasError('required')">Please choose a valid event</mat-error>
          <!-- <mat-hint>{{tournament.value?.sound}}</mat-hint> -->
        </mat-form-field>

        <mat-form-field class="margin_x_5" appearance="fill" *ngIf="_event.valid" [@inOutAnimation]>
          <mat-label>Horses Odds</mat-label>
          <input type="number" matInput placeholder="5" [formControl]="_eventDetailOdd" required>
          <mat-error *ngIf="_eventDetailOdd.invalid">{{getEventDetailOddsValidationMessage}}</mat-error>
        </mat-form-field>
    
        <mat-form-field class="margin_x_5" appearance="fill"  *ngIf="_eventDetailOdd.valid" [@inOutAnimation]>
          <mat-label>Event Detail Status</mat-label>
          <mat-select [formControl]="_eventDetailStatus" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let e of getAllStatuses" [value]="e.eventDetailStatusID">
              {{e.eventDetailStatusName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="_eventDetailStatus.hasError('required')">Please choose a valid status</mat-error>
          <!-- <mat-hint>{{tournament.value?.sound}}</mat-hint> -->
        </mat-form-field>
    
        <mat-form-field class="margin_x_5" appearance="fill" *ngIf="_eventDetailStatus.valid" [@inOutAnimation]>
          <mat-label>Finishing Position</mat-label>
          <input type="number" matInput placeholder="777" [formControl]="_finishingPosition" required>
          <mat-error *ngIf="_finishingPosition.invalid">{{getEventNumberValidationMessage}}</mat-error>
        </mat-form-field>

        <mat-slide-toggle 
        class="margin_x_5"
        *ngIf="_finishingPosition.valid"
        [formControl]="_firstTimer"
        [@inOutAnimation]>
          First time racing ?
        </mat-slide-toggle>

        <button class="margin_x_5" mat-button [disabled]="_eventDetailName.invalid" (click)="RunUpdate()">{{selectedBUttonText}}</button>
    
    
      </div>

     <div class="chips" *ngIf="isEditingEnabled && (action == 'Delete')">
       <span>Deleting the following events:</span>
        <mat-chip-list>
            <mat-chip selectable removable (removed)="remove(chip)" *ngFor="let chip of eventDetailsDeleteList" selected color="warn">
              {{chip.eventDetailName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
         
          
        <button mat-button [disabled]="eventDetailsDeleteList.length == 0" (click)="deleteEvent()">{{selectedBUttonText}}</button>
     </div>
        
</div>
